fastapi
uvicorn
colorlog 
backoff
anthropic[bedrock]
pypdf2
Pillow
akshare
qdrant-client
openai
dashscope
streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
mplfinance
apscheduler
wordcloud
duckdb
jieba
playwright
aiohttp
tenacity
pdfplumber
python-docx
seaborn
markdown
BCEmbedding
fuzzywuzzy
rapidfuzz
python-Levenshtein
msgpack