[Default]
llm_api = SimpleDeepSeekClient
llm_cheap_api = CheapClaude
embedding_api = BGELargeZhAPI
ranker_api = BaiduBCEReranker
talker = CliTalker
project_id =  
aws_access_key_id =  
aws_secret_access_key =  
tushare_key =  
AZURE_OPENAI_API_KEY =  
AZURE_OPENAI_ENDPOINT =  
GAODE_MAP_API_KEY =  
OPEN_WEATHER_API_KEY =  
ERNIE_API_KEY = 
ERNIE_SERCRET_KEY = 
glm_api_key = 
deep_seek_api_key =  
moonshot_api_key =  
DASHSCOPE_API_KEY =  
baichuan_api_key =  
volcengine_api_key =  
volcengine_embedding = 
volcengine_doubao =  
minimax_api_key =  
zero_one_api_key =  
OPENAI_API_KEY =  
hunyuan_SecretId =  
hunyuan_SecretKey =  
xunfei_spark_api_key =  
xunfei_spark_secret_key =  
hugging_face_api_key =  