.react-tabs__tab-list {
    border-bottom: 1px solid #4a5568;
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    color: #a0aec0;
  }
  
  .react-tabs__tab--selected {
    background: #4299e1;
    border-color: #4a5568;
    color: white;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab:hover {
    background: #2d3748;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }